[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "sparsebnUtils"]
	path = sparsebnUtils
	url = https://github.com/itsrainingdata/sparsebnutils
	shallow = true
	registered = true
